.button-list__btn-2 {
  box-shadow: inset 0px 0px 0px #000;
  transition: 0.3s;
}

.button-list__btn-2:hover {
  color: #fff;
  box-shadow: inset 200px 0px 0px #000;
}

.button-list__btn-2:hover {
  box-shadow: inset 0px -5px 0px #000;
}