.button-list__btn-3 {
  box-shadow: inset 0px 0px 0px 0px #000;
  transition: transform 0.1s, box-shadow 0.4s ease-in-out, color 0.2s 0.2s;
}

.button-list__btn-3:hover {
  color: #fff;
  box-shadow: inset 0px 0px 0px 100px #000;
}

.button-list__btn-3:active {
  transform: scale(1.05);
}