@import './animations/modal-1';
// @import './animations/modal-2';
// @import './animations/modal-3';
// @import './animations/modal-4';

#open-modal {
  display: none;
}

.modal {
  width: 100%;
  height: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(#000, 0.8);
  }

  &__content {
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 6em auto 0;
    background-color: #fff;
    padding: 3em;
  }
}