.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}

.modal__content {
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

#open-modal:checked + .modal {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s;
}

#open-modal:checked + .modal .modal__content {
  transform: scale(1);
}