.button-list {
  &__btn {
    background-color: white;
    border: 1px solid #000;
    cursor: pointer;
    padding: 0.5em 1.5em;

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &-1 {
  
    }
  }
}