.loading__circle {
  animation: loading 1s ease-in-out infinite alternate;
  will-change: transform;
}

@keyframes loading {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(-45deg);
  }
}