@import './animations/loading-1';
@import './animations/loading-2';

.loading {
  display: flex;
  align-items: center;

  &__circle {
    width: 80px;
    height: 80px;
    position: relative;
    border: 10px solid #000;
    border-radius: 50%;

    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      left: 1px;
      top: 1px;
    }
  }

  &__upload {
    width: 200px;
    height: 30px;
    border: 2px solid #000;
    background-color: #444;
    border-radius: 4px;
    margin-left: 50px;
    position: relative;
    overflow: hidden;

    &:after {
      content:'';
      width: 100px;
      height: 100%;
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      background: linear-gradient(to right, transparent 10%, #888, transparent 90%);
    }
  }
}